<!DOCTYPE html>
<html lang="fr">
  <h1>Deals</h1>

<table class="table">

    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Period of validity</th>
    </thead>

  {{#list deals}}

    <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/deals/id/{{id}}" role="button">
        {{name}}
      </a>
    </td>
    <td>
      {{description}}
    </td>
    <td>
      {{price}}
    </td>
    <td>
      {{begin}} - {{end}}
    </td>
    <td>
      <a class="btn btn-outline-secondary btn-sm" href="/deals/update/{{id}}" role="button">
        Update
      </a>
      <a class="btn btn-outline-danger btn-sm" href="/deals/delete/{{id}}" role="button">
        Delete
      </a>
    </td>
  </tr>

  {{/list}}

</table>

  <div class="text-center">
    <a class="btn btn-primary" href="/deals/create" role="button">
      Add a Deal
    </a>
  </div>
</htlm>