<!DOCTYPE html>
<html lang="fr">
  <h1>Update deal : </h1>
  <h2>{{deal.name}}</h2>

  <form action="/deals/update/{{deal.id}}" method="post">

    <div class="form-group">
      <label for="name">Name of the deal*</label>
      <input value="{{deal.name}}" class="form-control" type="text" id="name" name="name" placeholder="Name of the deal" required/>
    </div>

    <div class="form-group">
      <label for="image">Lien vers l'image</label>
      <input value="{{deal.image}}" class="form-control" type="text" id="image" name="image" placeholder="Link of the image">
    </div>

    <div class="form-group">
    <label for="proId">Pro*</label>
    <select class="form-control" id="proId" name="proId" required>
      {{#list pros}}
      <option value="{{id}}" {{selected ../deal.proId id}}>{{name}}</option>
      {{/list}}
    </select>
  </div>

    <div class="form-group">
      <label for="description">Description of the deal</label><br/>
      <textarea class="form-control" name="description" id="description" rows="5">{{deal.description}}</textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" type="number" id="price" name="price" value="{{deal.price}}" placeholder="Price of the deal" />
    </div>

    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input class="form-control" type="number" id="capacity" name="capacity" value="{{deal.capacity}}" placeholder="Capacity" />
    </div>

    <div class="form-group">
      <label for="begin">Begin date*</label>
      <input class="form-control" type="date" id="begin" name="begin" value="{{deal.begin}}" required/>
    </div>

    <div class="form-group">
      <label for="end">End date*</label>
      <input class="form-control" type="date" id="end" name="end" value="{{deal.end}}" required/>
    </div>

    <div class="form-group">
      <label for="hidden">Do you want to hide this deal ? If not, it will be displayed on the map.</label>
      <select class="form-control" id="hidden" name="hidden" value={{deal.hidden}} required>
        <option value="False">No</option>
        <option value="True">Yes</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Update
      </button>
    </div>
  </form>
</html>